@import "../../../Scss/vars";
.header {
  font-family: $primaryFont;
  img {
    width: 4.286em;
    height: 4.286em;
    border-right:  0.071em solid $darkBlue;
    margin: 0.357em 0 0.357em 0;
    padding: 0 0.714em 0 0;
  }
  h1 {
    float: right;
    margin: 1.07em 0.357em 0 0;
  }
  .icons {
    margin: 1.857em 0 0 0;
    .anticon {
      margin: 0 0.4em 0 0;
      font-size: $fontSizeIconsDefault;
    }
    .anticon-user {
      border-left: 1px solid $darkBlue;
      padding: 0 0 0 0.357em;      
    }
  }
}
