// colors

$black: black;
$blackShadow: rgba(0, 0, 0, 0.185);
$white: white;
$blue: #00457d;
$green: #99cc00;

$defaultText: #333333;
$lightCian: #e6f7ff;
$darkBlue: #000066;
$lightBlue: #0066ff;
$yellow: #ffcd00;
$red: #ee0000;
$lightRed: #fff1f0;
$lightWhite: #f7f7f7;
$lightGray: #d9dade;
$darkGray: #666666;
$darkGrayDeep: #545454;
$gray: #999999;

// fonts
$primaryFont: 'fontFamilyPrimary';
$secondaryFont: 'Arial';

$fontSizeExtraLarge: 26px;

$fontSizeLarge: 24px;

$fontSizeMedium: 20px;

$fontSizeSmall: 16px;

$fontSizeDefault: 14px;

$fontSizeIconsDefault: 26px;
